* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.my-section {
  margin: 0 auto !important;
}

:root {
  --bs-dark-color: #1a1d20;
  --bs-dark-primary: #1c1c1c;
  --bs-main-color: #fff;
  --bs-primary-color: #c6c6c6;
  --secondary-color: #29a9fd;
  --bs-supporting-color: #cb50c0;
}

.hero-section {
  background-color: var(--bs-dark-color);
}

.my-container {
  position: relative;
}

ul li a:hover {
  color: var(--secondary-color) !important;
}

.custom-shape-divider-bottom-1684989382 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684989382 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1684989382 .shape-fill {
  fill: #9c9292;
}

.my-service-div :hover {
  background-color: burlywood;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-img {
  max-width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
